<div class="carrots">
    <div class="carrot-lower carrot-left"></div>
    <div class="carrot-upper carrot-left"></div>
    <div class="carrot-lower carrot-right"></div>
    <div class="carrot-upper carrot-right"></div>
</div>
