<div class="column bubble">
    <div class="item">
        There are <%= points.length %> points with hashes that start with <%= hashprefix %>:
    </div>
    <%- partial('points', { points: points }) %>
</div>
