<p class="heading">Make your point:</p>
<form method="POST" action="/new_point">
<textarea name="text"></textarea>
<input class="save-button" type="submit" value="Save" />
</form>

<hr />

<p class="heading">Recent points:</p>
<% points.forEach(function (p) { %>
    <%- partial('point', { point: p }) %>
<% }); %>
