<p class="heading">Make your point:</p>
<form method="POST" action="/new_point">
    <textarea name="text"></textarea>
    <%- partial('select_stance', { stance: 1 }) %>
    <input class="save-button" type="submit" value="Save" />
</form>

<hr class="clear-both" />

<div class="column">
    <p class="heading">Recent points:</p>
    <% points.forEach(function (p) { %>
        <%- partial('point', { point: p }) %>
    <% }); %>
</div>
