<p class="heading">Make your point:</p>
<form method="POST" action="/new_point">
    <textarea name="text"></textarea>
    <%- partial('select_stance', { stance: 1 }) %>
    <input class="save-button" type="submit" value="Save" />
</form>

<hr class="clear-both" />

<div class="column">
    <h2>Featured points:</h2>
    <%- partial('points', { points: featured_points }) %>
</div>
<div class="column">
    <h2>Recent points:</h2>
    <%- partial('points', { points: recent_points }) %>
</div>
