<p>
    Log in or
    <a href="/signup">Create a new account</a>
</p>
<form method="POST" action="/login">
    <p>
        Username:<br/>
        <input name="username" class="focus-on-load" />
    </p>
    <p>
        Password:<br/>
        <input type="password" name="password" />
        <a href="/forgot_passwd">Forgot?</a>
    </p>
    <p><input type="submit" value="Log in" /></p>
    <input type="hidden" name="return_to" value="<%= return_to %>" />
</form>
