<p><%= point.text %></p>
<% function showReason(r) { %>
<a href="/point/<%= encodeURIComponent(r.hash) %>"><%= r.text %></a>
<% } %>
<p>Supporting:</p>
<% supporting.forEach(showReason) %>
<p>Opposing:</p>
<% opposing.forEach(showReason) %>
