<div class="main bubble">
    <%- partial('point') %>
</div>
<%- partial('carrots') %>

<div class="left column bubble">
    <h3>&#x2713;&nbsp; True</h3>
    <%- partial('voters', { point: point, voters: truevotes }) %>
</div>

<div class="right column bubble">
    <h3>&#x2715;&nbsp; False</h3>
    <%- partial('voters', { point: point, voters: falsevotes }) %>
</div>
