<div class="fullwidth">
    <%- partial('main_point') %>
</div>
<%- partial('carrots') %>

<div class="left column">
    <h3>Votes For</h3>
    <%- partial('voters', { point: point, voters: truevotes }) %>
</div>

<div class="right column">
    <h3>Votes Against</h3>
    <%- partial('voters', { point: point, voters: falsevotes }) %>
</div>
