<div class="main">
    <%- partial('conclusion_and_premise') %>
</div>

<div class="left column bubble">
    <h3>&#x25b2; Relevant</h3>
    <%- partial('voters', { voters: upvoters }) %>
</div>

<div class="right column bubble">
    <h3>&#x25bc; Irrelevant</h3>
    <%- partial('voters', { voters: downvoters }) %>
</div>
