<form method="POST">

<p>
Username: (3 to 15 characters)<br/>
<input name="username" />
</p>

<p>
Full name:<br/>
<input name="fullname" />
</p>

<p>
Email:<br/>
<input name="email" />
</p>

<p>
Password:<br/>
<input type="password" name="password" />
</p>

<p>
Password again:<br/>
<input type="password" name="password2" />
</p>

<p><input type="submit" value="Create account" /></p>

</form>
