<h2>Create an account</h2>

<form method="POST">

<p>
    <label class="signup-username">
        Username: <span class="required">*</span>
        <span class="validation" style="display: none"></span>
        <br/>
        <input class="focus-on-load" name="username" /> (public)
    </label>
</p>

<p>
Full name: <span class="required">*</span> <br/>
<input name="fullname" /> (public)
</p>

<p>
Email: <span class="required">*</span> <br/>
<input name="email" /> (never shared)
</p>

<p>
Password: <span class="required">*</span> <br/>
<input type="password" name="password" />
</p>

<p>
Password again: <span class="required">*</span> <br/>
<input type="password" name="password2" />
</p>

<p><input type="submit" value="Create account" /></p>

<input type="hidden" name="return_to" value="<%= return_to %>" />
</form>
