<form method="POST">

<p>
Username: <span class="required">*</span> (3 to 15 characters) <br/>
<input name="username" /> (public)
</p>

<p>
Full name: <span class="required">*</span> <br/>
<input name="fullname" /> (public)
</p>

<p>
Email: <span class="required">*</span> <br/>
<input name="email" /> (never shared)
</p>

<p>
Password: <span class="required">*</span> <br/>
<input type="password" name="password" />
</p>

<p>
Password again: <span class="required">*</span> <br/>
<input type="password" name="password2" />
</p>

<p><input type="submit" value="Create account" /></p>

</form>
