<% voters.forEach(function (voter) { %>
    <div class="item">
        <%- partial('avatar20', { user: voter }) %>
        <a class="fullname" href="/~<%= voter.username %>">
            <%= voter.fullname %>
        </a>
    </div>
<% }); %>
