<div class="column">
    <p>
        Log in or
        <a href="/signup">Create a new account</a>
    </p>
    <%- partial('login') %>
</div>

<div class="column">
    <h1>
        Welcome!
    </h1>
    <p>
        Counterpointy is an experiment in structured argument.
    </p>
    <p>
        <a href="https://github.com/benw/counterpointy/wiki/About-Counterpointy">Learn more...</a>
    </p>
</div>
