<div class="left column">
    <%- partial('login') %>
</div>

<div class="right column">
    <h1>Welcome!</h1>
    <p>
        Counterpointy is a place to state what you think
        and why you think it - and to see where you
        agree or disagree with others.
        This is an experiment in structured debate.
    </p>
    <p>
        <a href="https://github.com/benw/counterpointy/wiki/About-Counterpointy">Learn more...</a>
    </p>
    <h3>Featured points</h3>
    <%- partial('points', { points: featured_points }) %>
</div>
