<div class="left column bubble">
    <div class="item">
        <%- partial('signup') %>
    </div>
</div>

<div class="right column bubble">
    <div class="item">
        <%- partial('welcome.mkd') %>
    </div>
    <div class="item">
        <h3>Featured points</h3>
    </div>
    <%- partial('points', { points: featured_points }) %>
</div>
