<div class="left column buble">
    <%- partial('login') %>
</div>

<div class="right column bubble">
    <div class="item">
        <h1>Welcome!</h1>
        <p>
            Counterpointy is a place to state what you think
            and why you think it - and to see where you
            agree or disagree with others.
            This is an experiment in structured debate.
        </p>
        <p>
            <a href="https://github.com/benw/counterpointy/wiki/About-Counterpointy">Learn more...</a>
        </p>
    </div>
    <div class="item">
        <h3>Featured points</h3>
    </div>
    <%- partial('points', { points: featured_points }) %>
</div>
