body {
  font: 13px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
}

.conclusion {
  font-weight: bold;
}

.supporting-heading, .opposing-heading {
  font-variant: small-caps;
  text-transform: lowercase;
}

a:link, a:visited {
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

