body {
  font: 13px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
  background-color: #eee;
  margin: 0px;
}

.heading {
  font-variant: small-caps;
  text-transform: lowercase;
}

a:link, a:visited {
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

textarea {
  width: 100%;
  max-width: 100%;    /* Constrain manual resizing */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

div.title {
  float: left;
  margin-bottom: 5px;
}

div.login {
  float: right;
}

.clear-both {
  clear: both;
}

div.main-column {
  max-width: 300px;
  background-color: #fff;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

img.avatar20 {
  vertical-align: -5px;
}

.point {
  width: 100%;
  padding: 5px 0px;
  border-top: 1px solid #ddd;
}

.point:first-child {
  border-top: 0px;
}

.point:hover {
  background-color: #b8d8ff;
}

.point td {
  vertical-align: middle;
}

.point td:first-child {
  width: 100%;
}
