<form method="POST">

<p>Forgot your password?</p>
<p>We'll send you an email, you know the drill.</p>
<p>
    Username:<br/>
    <input name="username" />
</p>

<p><input type=submit /></p>

</form>
