<h2>Password reset for <%= username %></h2>
<form method="POST">

  <p>
    New password:<br/>
    <input type="password" name="password" />
  </p>

  <p>
    New password again:<br/>
    <input type="password" name="password2" />
  </p>

  <p>
    <input type="submit" value="Set password">
  </p>
</form>
